*{
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  font-weight: bold;
  cursor: none;
}

body {
  background-color: darkgoldenrod; }

.number, .symbol, .secHand, .minHand, .hourHand {
  position: absolute; }

.number {
  display: flex;
  justify-content: center;
  align-items: center; }

.symbol {
  font-size: 13px; }

.secHand {
  background-color: red;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 5; }

.minHand {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 4; }

.hourHand {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 3; }
